ul {display: flex;flex-flow: row wrap;padding: 50px;}
ul li {
  box-sizing: border-box;
  margin: 10px;
  padding: 12px 1px 1px 12px;
  width: 60px;height: 60px;
  line-height: 60px;
  font-size:20px;
  border: 1px solid #ccc;
  background: url(/images/bg.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

ul li.Z1,ul li.Z2 {padding: 0;border: 2px solid;font-size: 20px;}
ul li.open.Z1 {
  border-color: darkred;
}
ul li.open.A1,ul li.open.A2,ul li.open.A3,ul li.open.A4,ul li.open.A5,ul li.open.A6,ul li.open.A7,ul li.open.A8,ul li.open.A9,ul li.open.A10,ul li.open.A11,ul li.open.A12,ul li.open.A13 {
  background: url(/images/cardA.png) 10px 10px no-repeat;
  background-size: 30%;
  color: darkred;
  text-indent: 0px;
}
ul li.open.C1,ul li.open.C2,ul li.open.C3,ul li.open.C4,ul li.open.C5,ul li.open.C6,ul li.open.C7,ul li.open.C8,ul li.open.C9,ul li.open.C10,ul li.open.C11,ul li.open.C12,ul li.open.C13 {
  background: url(/images/cardC.png) 10px 10px no-repeat;
  background-size: 30%;
  color: darkred;
  text-indent: 0px;
}
ul li.open.B1,ul li.open.B2,ul li.open.B3,ul li.open.B4,ul li.open.B5,ul li.open.B6,ul li.open.B7,ul li.open.B8,ul li.open.B9,ul li.open.B10,ul li.open.B11,ul li.open.B12,ul li.open.B13 {
  background: url(/images/cardB.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
}
ul li.open.D1,ul li.open.D2,ul li.open.D3,ul li.open.D4,ul li.open.D5,ul li.open.D6,ul li.open.D7,ul li.open.D8,ul li.open.D9,ul li.open.D10,ul li.open.D11,ul li.open.D12,ul li.open.D13 {
  background: url(/images/cardD.png) 10px 10px no-repeat;
  background-size: 30%;
  text-indent: 0px;
}

section.you {display: flex;flex-flow: row wrap;padding: 50px 0;}
section.you ul {padding: 15px;width: 25%;}
section.you ul.openCard {padding: 15px;width: 25%;border: 3px solid #f60;}
